@page "/"
@page "/{text}"
@using WebSiteEngine.Shared
@inject HttpClient Http

<p>@Text</p>


@foreach (var line in Textiles)
{
    if (line.StartsWith(TextileDocument.Tags.H1))
    {
        <h1><span class="container badge badge-dark text-left">@line.Substring(TextileDocument.Tags.H1.Length)</span></h1>
    }
    else if (line.StartsWith(TextileDocument.Tags.H2))
    {
        <h2><span class="container badge badge-dark text-left">@line.Substring(TextileDocument.Tags.H2.Length)</span></h2>
    }
    else if (line.StartsWith(TextileDocument.Tags.H3))
    {
        <h3><span class="container badge badge-dark text-left">@line.Substring(TextileDocument.Tags.H3.Length)</span></h3>
    }
    else
    {
        <p>@line</p>
    }
}


@code
{
    [Parameter]
    public string Text { get; set; }

    private string Path => (string.IsNullOrEmpty(Text) ? "default" : Text) + ".txt";

    private string[] Textiles { get; set; } = Enumerable.Empty<string>() as string[];

    protected override async Task OnInitializedAsync()
    {
        var textile = await Http.GetFromJsonAsync<TextileDocument>($"api/TextileDocument/{Path}");

        Textiles = textile.Body.Trim('\r').Split("\n");
    }
}